<div class="container-fluid">
  <% if notice.present? %>
    <p class="p-2 mb-5 bg-success text-white rounded" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="d-flex justify-content-center  align-items-center pb-4">
    <h1 class="text-center display-4">Products</h1>
  </div>

  <table id="products" class="table table-striped mx-auto">
    <tfoot>
      <tr>
        <td colspan="3">
          <%= link_to 'New product', new_product_path, class: "btn btn-success mt-3" %>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="px-2 py-3">
            <%= image_tag(product.image_url, class: 'img-fluid w-25') %> <!-- Adjusted width -->
          </td>
          <td>
            <h1 class="h5 font-weight-bold mb-3"><%= product.title %></h1>
            <p>
              <%= truncate(strip_tags(product.description), length: 80) %>
            </p>
          </td>
          <td class="px-3">
            <ul class="list-unstyled">
              <li>
                <%= link_to 'Show', product, class: 'text-decoration-underline' %>
              </li>
              <li>
                <%= link_to 'Edit', edit_product_path(product), class: 'text-decoration-underline' %>
              </li>
              <li>
                <%= link_to 'Destroy', product, class: 'text-decoration-underline', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
